.caixa-cinza {
    background-color: #ccc;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.caixa-direction {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    background-color: #fff;
    margin: 10px;
    position: relative;
}

.numero {
    font-size: 150%;
    color: rgb(250, 192, 0);
    font-weight: bold;
}

.circulo {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: rgb(189, 186, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.caixa-branca {
    background-color: #fff;
    border: solid 1px #eeff00;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.caixa-wrap {
    width: 100px;
    height: 100px;
    background-color: #ff7b00;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: relative;
}

.caixa-azul {
    background-color: #287bf7;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.caixa-justify {
    width: 100px;
    height: 100px;
    background-color: #fab778;
    margin: 5px;
    border-radius: 10px;
}

.caixa-roxa {
    background-color: purple;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
}

.caixa-roxa > div {
    flex: 1;
    min-width: 100px;
    min-height: 50px;
    margin: 5px;
    background-color: rgb(255, 146, 3);
    border: 1px solid black;
    color: #fff;
}

.caixa-roxa > div:nth-child(odd) {
    order: -1;
}